{% extends "base.html" %}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <table border="1">
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label> {{ f }}</p>
    <div class"form-error">
        {{ f.errors }}
    </div>
    {% endfor %}
    </table>
    <input type="submit" class="btn btn-primary" value="{% translate 'Create' %}">
</form>
{% endblock content %}