{% extends "base.html" %}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% block content %}
<h1 class="h1 my-4">
  {% translate "Tasks" %}
</h1>
<a class="btn btn-primary mb-3" href="{% url "tasks:create" %}">{% translate 'Task create' %}</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Author" %}</th>
        <th scope="col">{% translate "Executor" %}</th>
        <th scope="col">{% translate "Date of creation" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="{% url 'tasks:show' pk=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.timestamp }}</td>
        <td>
            <a href="{% url 'tasks:update' pk=task.id %}">{% translate 'Update'%}</a>
            <a href="{% url 'tasks:delete' pk=task.id %}">{% translate 'Delete'%}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}