asgiref==3.7.2
dj-database-url==2.1.0
Django==4.2.6
gunicorn==21.2.0
-e git+https://github.com/faridylkaaa/python-django-developer-project-52.git@842b1cc9b4d2ec165d102d90b1d95829a94f2b59#egg=hexlet_code&subdirectory=hexlet-code
packaging==23.2
python-dotenv==1.0.0
sqlparse==0.4.4
typing_extensions==4.8.0
