asgiref==3.7.2
dj-database-url==2.1.0
Django==4.2.6
-e git+https://github.com/faridylkaaa/python-django-developer-project-52.git@de576ac985a212a2a06032e4de69ca8745a642d2#egg=hexlet_code&subdirectory=hexlet-code
python-dotenv==1.0.0
sqlparse==0.4.4
typing_extensions==4.8.0
