{% extends "base.html" %}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">{% translate 'Welcome' %}</h1>
  <p class="fs-5 text-body-secondary">{% translate 'The only manager who cares about you' %}</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">{% translate 'Free' %}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">{% translate '/mo' %}</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{% translate '10 unfinished tasks' %}</li>
        <li>{% translate 'Join to our family' %}</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-outline-primary">{% translate 'Sign up for free' %}</button>
    </div>
  </div>
</div>
<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">{% translate 'Pro' %}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">{% translate '/mo' %}</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{% translate '20 unfinished tasks' %}</li>
        <li>{% translate 'Woman magnet' %}</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-primary">{% translate 'Get started' %}</button>
    </div>
  </div>
</div>
<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm border-primary">
    <div class="card-header py-3 text-bg-primary border-primary">
      <h4 class="my-0 fw-normal">{% translate 'Enterprise' %}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">{% translate '/mo' %}</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{% translate 'No limits' %}</li>
        <li>{% translate 'King status' %}</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-primary">{% translate "Contact us" %}</button>
    </div>
  </div>
</div>
</div>
{% endblock %}